.header {
    -fx-background-color: #6f3942;
}

.card-unpadded {
    -fx-background-color: rgb(255.0, 255.0, 255.0);
    -fx-background-radius: 4.0;
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.15), 6.0, 0.7, 0.0,
    1.5);
    -fx-padding: 0;
}

.card-unpadded2 {
   -fx-background-color: #f3f3f3;
    -fx-background-radius: 4.0;
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.15), 6.0, 0.7, 0.0,
    1.5);
    -fx-padding: 0;
}

.side-menu-unpadded {
    -fx-background-color: #6f3942;
    -fx-background-radius: 0 60 4 0;
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.1), 6.0, 0.7, 0.0,
    1.5);
    -fx-padding: 20 2 0 5;

}

.card-title {
    -fx-background-radius: 5 5 0 0;
}


.list-view {

    -fx-background-color: #f3f3f3;
    -fx-background-radius: 4.0;
}

.list-view:pressed {
    -fx-border-color: transparent;
    -fx-border-style: none;
    -fx-background-color: #f3f3f3;

}

.list-card-unpadded {
    -fx-background-color: #f3f3f3;
    -fx-background-radius: 4.0;
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.15), 6.0, 0.7, 0.0,
    1.5);
    -fx-padding: 0;
}

.roundButton {
    -fx-background-color: coral;
    -fx-background-radius: 50px;
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.2), 10.0, 0.5, 0.0,
    1.0);
}

.profile-image {
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-border-color: #1193d2;
    box-shadow: rgba(0, 0, 0, 0.8) 0 0 10px;
}

.sceneBorder {
    -fx-border-color:  #6f3942;
    -fx-border-width: 1.5px;
}

.titleBar {
    -fx-background-color: #6f3942

}

.closeButton {
    -fx-background-color: transparent;
}

.closeButton:hover {
    -fx-background-color: #ff0000;
}

.closeButton:pressed{
    -fx-background-color: #780303;
}

.sceneTextBox{
    -fx-background-color: transparent;
    -fx-text-fill: #615c5c;
    -fx-font-size: 14px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}
.sceneTextBox:hover{
    -fx-background-color: #e3e3e3;
}

.saveButton{
    -fx-background-color: #783d47;
}

.textFill{
   -fx-prompt-text-fill: #f3f3f3;
    -fx-text-fill: #faf9f0;
}



.searchButton{

    -fx-background-color: #1c6789;
}



.radio-drawer {
    -fx-cursor : hand;
}

.radio-drawer:selected .radio
{
    -fx-scale-x : 1.2;
    -fx-scale-y : 1.2;

}

.radio-warning .radio,
.radio-warning .radio:hover,
.radio-warning .radio:focused,
.radio-warning:selected .radio
{
    -fx-border-color : #FF8800;
    -fx-border-width: 6px;
}

.radio-danger .radio,
.radio-danger .radio:hover,
.radio-danger .radio:focused,
.radio-danger:selected .radio
{
    -fx-border-color : #ffd85a;
    -fx-border-width: 6px;
}

.gradiant{
    -fx-background-color: linear-gradient(#1974bb, #1b88bf, #7aa3e8);
}


/*Titled Pane*/
.blue-titledPane {
    -fx-text-fill: white;
    -fx-text-alignment: center;



}

.blue-titledPane > .title {
    -fx-background-color: #00BCD4, #00C0EF, #00BCD4;
    -fx-font-weight: bold;
    -fx-background-insets: 0, 0.1, 0.9;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
    -fx-padding: 0.166667em 0.833333em 0.25em 0.833333em;
    -fx-pref-height: 40px;
    -fx-font-size: 18px;

}

.blue-titledPane:focused > .title {
    -fx-color: -blue-A400;
}

/*.titled-pane > .title {
    -fx-background-color: -fx-box-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
    -fx-padding: 0.166667em 0.833333em 0.25em 0.833333em;}*/
.blue-titledPane > .title > .arrow-button .arrow {
    -fx-background-color: white;

}

.aaaaaa{
    -fx-background-color: #197abb;

}

.progress-bar{
    -fx-progress-color: #1773a1;
    -fx-background-color: #FF8800;
    -fx-color-label-visible: true;
}

.menuButton{
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
    -fx-font-size: 15px;
    -fx-border-radius: 0 0 0 0;
}

.menuButton:pressed:hover {
    -fx-background-color: #9e5d66;
    -fx-font-weight: bold;
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}

.menuButton:hover {
    -fx-background-color: #9e5d66;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}









